.DS_Store
/node_modules
dist/
/.idea/.gitignore
/.idea/jsLinters/eslint.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/symptom-frontend.iml
/.idea/vcs.xml
watcherTasks.xml
