.client-card-main {
  margin: 25px 15px 25px 25px;
  border: 1px solid #cacaca;
}

.client-card-section {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.client-card {
  width: 50%;
}

.patient-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.patient-info-inner {
  display: block;
  margin: 16px 22px 0 0;
}

.patient-info-inner label {
  color: var(--surface-600);
  font-weight: bold;
}

.client-download-btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-result-section {
  display: flex;
  gap: 16px;
  margin: 25px 15px 25px 25px;
}
.result {
  width: 70%;
}
.result-panels {
  margin-top: 16px;
}

.result-panels div {
  margin-bottom: 16px;
}
.patient-doctor {
  width: 30%;
}
